---
layout: default
title : Teaching And Service
navbar_title: Teaching And Service
container_class: container-xl
---



<div class="row">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-5">
                <div class="row">
                    <div class="col">
                        <div class="d-flex">
                            <div class="h2 font-weight-normal">
                                Teaching 
                            </div>
                        </div>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col">
                        The following is a list of classes I've taught, sorted by university.
                        <br>
                        <br>

                        {% for institution_hash in site.data.teaching %}
                        {% assign institution = institution_hash[1] %}
                            <h2 data-toggle="collapse" href="#collapse{{institution.institution_id}}" aria-expanded="false" aria-controls="collapse{{institution.institution_name}}">{{ institution.institution_name}}</h2>

                            <div class="collapse" id="collapse{{institution.institution_id}}">
                            <div class="card card-body">
                                <h4>Title/Primary Role: {{institution.title}}</h4>
                                {% for course_hash in institution.courses %}
                                {% assign course = course_hash[1] %}
                                <ul>
                                    <li>{{course.semester}}: {{course.course_name}}</li>
                                    <li>{{course_hash}}</li>
                                </ul>
                                {%- endfor -%}
                            </div>
                            </div>
                        <br>

                        {%- endfor -%}

                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>